<div class="header">
  <h1></h1>
</div>
<div ng-controller="ProjectsController" class="block">
    <div class="item" ng-repeat="p in itemsList">
      <table class="fill">
          <thead>
              <tr class="block_top">
                <th>
                  <img src="/img/todo_head_left.jpg" alt="description">
                </th>
                <th>
                  <form class="edit_todo_list disabled" action="/update_todo_list.json?id={{p.id}}" method="get" submit-todo-list="">
                        <input ng-model="text" ng-change="saveTodoList($event)" type="text" value="{{p.name}}" disabled="disabled" class="list_name disabled" name="name" edit-todo-focusout="">
                  </form>
                </th>
                <th>
                  <a href="#" edit-todo-list="">
                    <img src="/img/todo_list_edit.jpg" alt="description">
                  </a>
                  <img src="/img/todo_list_actions_separator.jpg" alt="">
                  <a href="/delete_todo_list?id={{p.id}}" ng-click="deleteTodoList($event)">
                    <img src="/img/todo_list_delete.jpg" alt="description">
                  </a>
                </th>
                <th>
                </th>
              </tr>
              <tr class="block_middle">
                  <th>
                      <img src="/img/plus.jpg" alt="" ng-click="clicker($event)">
                  </th>
                  <th class="add_task" colspan="3" ng-include src="templates.add_task.url">
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="l in p.tasks" hover-highlight>
                <td class="checkbox">
                  <input type="checkbox" name="cancel" value="{{l.id}}">
                </td>
                <td>{{l.name}}</td>
                <td colspan="2" class="edit-buttons">
                  <div class="buttons">
                    <a href=""><img src="/img/replace_todo.jpg" alt=""></a>
                    <a href=""><img src="/img/todo_edit.jpg" alt=""></a>
                    <a href=""><img src="/img/todo_delete.jpg" alt=""></a>
                  </div>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
    <div id="form_hidden" class="item" ng-include src="templates.add_task_list.url">
      
    </div>
    <div class="add_todo">
      <a href="/projects/create" ng-click="showTodoListForm($event)">
        <img src="/img/add_todo.png" alt="add todo list" />
      </a>
    </div>
</div>
<%= render :partial => "add_task_form" %>
<%= render :partial => "add_task_list_form" %>