<div class="head">
  <h1></h1>
</div>
<div ng-controller="ProjectsController" class="block">
    <table border="1" class="fill" ng-repeat="p in itemsList">
        <thead>
            <tr class="block_top">
              <th>
                <img src="/img/todo_head_left.jpg" alt="description">
              </th>
              <th>
                <input type="text" value="{{p.name}}" disabled="disabled" class="list_name disabled">
              </th>
              <th>
                <a href="#" ng-click="editTodoList($event)">
                  <img src="/img/todo_edit.jpg" alt="description">
                </a>
                <a href="#" ng-click="deleteTodoList($event)">
                  <img src="/img/todo_del.jpg" alt="description">
                </a>
              </th>
              <th>
                
              </th>
            </tr>
            <tr class="block_middle">
                <th colspan="4">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in itemsList.todos">
              <td>{{l.id}}</td>
              <td>{{l.name}}</td>
              <td>{{l.created_at}}</td>
              <td>{{l.updated_at}}</td>
            </tr>
        </tbody>
    </table>
    <div class="add_todo">
      <a href="/projects/create" ng-click="addTodoList($event)">
        <img src="/img/add_todo.png" alt="add todo list" />
      </a>
    </div>
</div>