.input-xxxlarge{
  line-height: 30px !important;
  height: 30px !important;
  width: 500px;
  padding: 5px 6px !important;
}
.align-center{
  text-align: center;
}
.alert-nottice {
background-color: #D9EDF7;
border-color: #BCE8F1;
color: #3A87AD;
}