body{
  background: url(/img/bg.png) center center no-repeat fixed;
  background-size: cover;
    h1{
       width: 291px;
       height: 46px;
       background: url(/img/simple_blog_head_bg.png) left top no-repeat;
       margin: 59px auto 57px auto;
    }
    .block{
      width: 700px;
      margin: 0 auto;
      .item{
        border: none;
        border-bottom: 1px solid #999;
        border-radius: 0 0 10px 10px;
        background: #fff;
        padding-bottom: 5px;
        margin-bottom: 30px;
        .fill{
          width: 100%;
          border-collapse: collapse;
          border:none;
          overflow: hidden;
          td{
            border:none;
          }
          tbody{
            tr{
              border-left: 1px solid #aaa;
              border-right: 1px solid #aaa;
            }
            td{
              background: #fff;
              border-bottom: 1px solid #999;
              vertical-align: middle;
              height: 48px;
              line-height: 48px;
              font-size: 14px;
              font-weight: bold;
              color: aaa; 
              &.checkbox{
                text-align: center;
                padding: 0;
                input[type="checkbox"]{
                  float:none;
                  display: inline-block;
                  margin:0;
                  padding: 0;
                }
              }
            }
          }
          .block_top{
            background: url(/img/block_top_bg.png) left top repeat-x;
            height: 51px;
            border: 1px solid #315589;
          }
          .block_middle{
            background: url(/img/block_middle_bg.jpg) left top repeat-x;
            height: 40px;
            border: 1px solid #aaa;
            border-top: none;
          }
        }
        .add_task{
          text-align: left; 
          form{
            margin:0;
            padding:0;
            .input-append{
              display: inline-block;
            }
            #appendedInputButtons{
              width: 510px;
              height: 22px;
              border:none;
              box-shadow: inset 1px 1px 2px #707070;
            }
            .btn.add_task_btn{
              width: 108px;
              height: 30px;
              margin-left: -3px;
              background: url(/img/add_task.jpg);
            }
          }
        }
      }
    }
    .container{
      margin: 0 auto;
    }
    .add_todo{
      width: 211px;
      padding: 20px 0;
      margin: 0 auto;
    }
    .disabled{
      background: none;
      border: none;
      font-size: 28px;
      line-height: 48px;
      height: 48px;
      margin: 0;
      padding: 0;
      text-shadow: 1px -1px 3px #999;
      color: #fff;
      display: block;
      text-align: left;
    }
    thead th{
      border: none;
      vertical-align: middle;
      padding: 0 10px;
      .edit_todo_list input{
          display: inline-block;
          margin: 0;
      } 
    }
    #form_hidden{
      display: none;
    }
    .new_project{
      display: inline-block;
      margin: 0;
      width: 100%;
      padding: 0;
    }
    .new_project input{
      display: inline-block;
      width: 100%;
      margin-top: 8px; 
    }
    .delete_empty_todo_list{
      padding-left: 5px;
    }
}
.input-xxxlarge{
  line-height: 30px !important;
  height: 30px !important;
  width: 500px;
  padding: 5px 6px !important;
}
.align-center{
  text-align: center;
}
.alert-nottice {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}